:global
  html, body
    font-family: '微软雅黑', '宋体', '黑体'
    background-color: #e0e0e0
    a
      &:hover
        text-decoration: none
    .mt-20
      margin-top: 20px
  body, button, input, select, textarea
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important
