.like-area
  display: inline-block
  span
    font-family: PingFangSC-Regular;
    font-size: 24px;
    letter-spacing: -0.15px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding-right: 48px;
    color: #999999;
.clicked
  span
    color: #E83C25;
    background: url('@/imgs/ic_sq_z_h@2x.png') center right/36px 36px no-repeat
.can-click
  span
    background: url('@/imgs/ic_sq_z_n@2x.png') center right/36px 36px no-repeat
