.container
  width: 1200px
  margin: 0 auto 50px
  .header
    overflow: hidden
    position: relative
    .title
      text-align: center
      font-family: "微软雅黑";
      font-size: 22px;
      height: 30px;
      text-align: center;
      color: #838383;
      line-height: 30px
      margin: 40px 0px
    .goBack
      position: absolute
      right: 20px
      top: 36px
  .box
    background: #FFF
    min-height: 700px
    padding: 20px
  .company
    border: 1px solid #ccc
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 120px
    .company-name
      text-align: center
      color: #199ED8;
      height: 40px
      line-height: 40px
      border-bottom: 1px solid #ccc
    .company-info
      line-height: 80px
      text-align: center
      span
        padding: 0 20px
