.container
  overflow: hidden
  .opration
    margin-top: 20px
    text-align: right
    button
      margin-left: 10px
  .table
    margin-top: 20px
    table
      width: 100%
      th, td
        height: 33px
        border: 1px solid #e8e8e8
        padding: 0 8px
        text-align: center
