.container
  overflow: hidden
  .operation
    text-align: right
    margin-top: 20px
  .box
    display: flex
    flex-direction: row
    min-height: 300px
    .left
      width: 44px
      background-color: rgba(153, 204, 255, 1);
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(25, 158, 216, 1);
      display: flex
      justify-content: center
      align-items: center
      span
        width: 20px
        text-align: center
    .right
      flex: 1
      box-sizing: border-box;
      border: 1px solid rgba(228, 228, 228, 1);
      padding: 20px 10px
      .table
        th, td
          height: 33px
          padding: 0px 8px
          border: 1px solid rgba(121, 121, 121, 1);
          text-align: center
        th
          color: #FFF
          background-color: rgba(25, 158, 216, 1);
          box-sizing: border-box;
      .table1
        width: 100%
