.container
  width: 1200px
  margin: 0 auto 50px
  .header
    overflow: hidden
    position: relative
    .title
      text-align: center
      font-family: "微软雅黑";
      font-size: 22px;
      height: 30px;
      text-align: center;
      color: #838383;
      line-height: 30px
      margin: 40px 0px
    .goBack
      position: absolute
      right: 20px
      top: 36px
  .box
    background: #FFF
    min-height: 700px
    padding: 20px
