.home-tabs
  background: transparent
  &:global > .am-tabs-bar
    height: 90px
    overflow: hidden
    margin: 0 78px !important
    background: -webkit-linear-gradient(top, #005ccc, #0083ff) !important
    .am-tabs-prevpage,.am-tabs-nextpage
      &:before
        background: transparent
      &:after
        background: transparent
    .am-tabs-ink-bar
      background: #FFFFFF
      height: 6px
    .am-tabs-tab
      opacity: 0.7;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #FFFFFF;
      letter-spacing: 0.12px;
      background: transparent;
      border: none
    .am-tabs-tab-active
      opacity: 1;
      font-family: PingFangSC-Medium;
      font-size: 32px;
      color: #FFFFFF;
      letter-spacing: 0.13px;
