:global
  .mui-pull-top-pocket
    height: 100px !important
    .mui-pull-caption
      font-size: 30px !important
      font-weight: normal !important
    .mui-pull
      bottom: 40px !important
  .mui-pull-bottom-pocket
    height: 100px !important
    .mui-pull-caption
      font-size: 30px !important
      font-weight: normal !important
    .mui-pull
      bottom: 40px !important  
