.view
  background: url('@/imgs/bg_sq_publishtc@2x.png') no-repeat
  background-size: 100% auto
  .content
    width: 580px
    margin: 0 auto
    text-align: center;
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    .hint
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #447BFF;
      text-align: center;
    .types-area
      height: 300px
      overflow: scroll
      margin-top: 64px
      display: inline-block
      width: 580px
      margin-bottom: 180px
      .type-item
        display: inline-block
        padding-bottom: 64px
        width: 290px
        .icon
          img
            width: 112px
            height: 112px
            border-radius: 50%
        .type-name
          font-weight: normal
          margin-top: 20px
    .close
      background: url('@/imgs/ic_sq_xtc@2x.png') center / 80px 80px no-repeat
      width: 80px
      height: 80px
      margin: 0 auto
