.topic-item
  margin: 0 32px
  .header
    display: flex
    .avatar
      width: 72px
      height: 72px
      border-radius: 50%
    .nickname
      font-family: PingFangSC-Regular
      font-size: 28px
      color: #222222
      letter-spacing: -0.18px
      line-height: 36px
  .content
    p
      font-family: PingFangSC-Regular
      font-size: 32px
      color: #222222
      letter-spacing: -0.2px
      line-height: 48px
  .footer
    border-top: 2px solid rbga(0, 0, 0, .1)
